/* Google Font Link   */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* The root pseudo-class Represent The HTML Element of a Page.    */

:root {
     --morphic-color : rgba(16 81 27 / 40%);
}

body {
     width: 100vw;
     height: 100vh;
     background : linear-gradient(45deg , #fc466b , #3f5efb);
     background-size : 150% 150%;
     font-family: 'Montserrat' , sans-serif ;
     overflow: hidden;
}

.container {
     position : absolute;
     left: 50%;
     transform: translateX(-50%);
     padding-top: 50px;
}

#form-1 {
     position: relative;
     background-color: var(--morphic-color);
     padding: 0 3em 2em;
     border-radius: 20px;
     border-left : 1px solid var(--morphic-color);
     border-top : 1px solid var(--morphic-color);
     backdrop-filter: blur(20px); 
}